<div class='container'>
<h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <form class="form-group d-flex" action="/answer">
    <input class="form-control flex-grow-1" type="text" name="question">
    <input class="form-control flex-end btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
